.activeDiv {
  background: #242424;
}
.activeDiv div span {
  color: white;
  padding-left: 20px;
}

a div span {
  padding-left: 42px !important;
}

div a {
  padding: 22px !important;
}

.icon-parent a {
  padding-left: 30px !important;
}

.icon-class {
  position: absolute;
  top: 10px;
  left: 25px;
}

.icon-parent{
  position: relative;
}
.main-sidenavbar {
  /* margin-bottom: 50px !important; */
  min-width: 318px !important;
  max-width: 318px !important;
  /* padding-bottom: 150px !important; */
}

.activeSubM {
  background: #808080 !important;
  color: white !important;
}

.pastDate {
  opacity: 0.4;
  cursor: not-allowed !important;
}
/* Inside your CSS file */
.holiday {
  background-color: red;
  border-radius: 50%;
  color: white; /* Optionally, you can set text color to white for better visibility */
  padding: 5px; /* Adjust padding as needed */
}
